body {
    color: orange;
	background-color: black;
	background-image: url(/static/gui/bg1.png);
}

#frame, #file{
    -moz-box-shadow: 0 0 15px 15px #f07746;
    -webkit-box-shadow: 0 0 15px 15px #f07746;
    box-shadow: 0 0 15px 5px #f07746;
}

#info {
    background-color: #4b352e;
    border: 1px solid #f07746;
    color: #f7ddd2;
}

#file {
    background-color: white;
    background:url(/static/gui/bg_1.png);
}

#file .folderlink {
    color: gold;
}

#file .filelink {
    color: orange;
}

.directory_path {
    color: yellow;
}
