{% extends "base.html" %}


{% block title %}
U-Air {{lt('Settings')}}
{% endblock %}


{% block content %}
<div id="file-lr">
    <div style="padding:10px;">
        <div id="info"><img src="static/icons/info1.png"/> {{lt("Style")}}</div>
        <table>
            <tr>
                <td><a class='button' href="/settheme?theme=0">{{lt("Default")}}</a></td>
                <td><a class='button' href="/settheme?theme=1">{{lt("Black")}}</a></td>
                <td><a class='button' href="/settheme?theme=2">{{lt("White")}}</a></td>
                <td><a class='button' href="/settheme?theme=3">{{lt("Stripes")}}</a></td>
            </tr>
        </table>
        <br/>

        <div id="info"><img src="static/icons/info1.png"/>{{lt("Language (current")}} <b>{{session["lang"]}}</b>)</div>

        <table>
            <tr>
                <td><a href="/setlang?lang=en" class="button">{{lt("English")}}</a></td>
                <td><a href="/setlang?lang=pl" class="button">{{lt("Polish")}}</a></td>
            </tr>
        </table>
        <br/>

        <div id="info"><img src="static/icons/info1.png"/>{{lt("File manager options")}}</div>
        <input id="hiddenfiles_check" onclick="hiddenfiles_docheck();" type="checkbox" name="hide" value="Hidden" {% if session["hidden"] %}checked{% endif %}>
        {{lt("Show hidden files/folders.")}}
        <br/>
    </div>
</div>
{% endblock %}
